<style data-rh="true">
:main_object { 
--typography-primary-default: rgb(217, 217, 217);
--typography-primary-inverted: rgb(27, 27, 27);
--typography-primary-consistent: rgb(27, 27, 27);
--typography-primary-inverted-consistent: rgb(217, 217, 217);
--typography-secondary-default: rgb(150, 150, 150);
--typography-secondary-consistent: rgb(109, 109, 109);
--typography-disabled: rgb(90, 90, 90);
--typography-interactive-primary-teal-consistent: rgb(54, 161, 139);
--typography-interactive-primary-wheat-consistent: rgb(200, 157, 88);
--typography-interactive-primary-petrol-default: rgb(121, 161, 173);
--typography-interactive-primary-petrol-consistent: rgb(43, 105, 122);
--typography-interactive-primary-rhubarb-default: rgb(179, 93, 91);
--typography-interactive-primary-rhubarb-consistent: rgb(179, 93, 91);
--typography-interactive-secondary-teal-default: rgb(204, 227, 218);
--typography-interactive-secondary-teal-consistent: rgb(31, 117, 96);
--typography-interactive-secondary-wheat-consistent: rgb(166, 121, 49);
--typography-interactive-secondary-petrol-default: rgb(204, 220, 226);
--typography-interactive-secondary-petrol-consistent: rgb(32, 91, 107);
--typography-interactive-secondary-rhubarb-consistent: rgb(142, 70, 68);
--typography-positive-amount: rgb(54, 161, 139);
    --border-primary-gray: rgb(59, 59, 59);
    --border-primary-teal: rgb(130, 196, 178);
    --border-primary-petrol: rgb(121, 161, 173);
    --border-primary-wheat: rgb(214, 177, 125);
    --border-primary-rhubarb: rgb(222, 172, 171);
    --border-secondary-gray: rgb(150, 150, 150);
    --border-secondary-teal: rgb(54, 161, 139);
    --border-secondary-petrol: rgb(43, 105, 122);
    --border-secondary-wheat: rgb(166, 121, 49);
    --border-secondary-rhubarb: rgb(179, 93, 91);
        --divider-default: rgb(51, 51, 51);
        --divider-default-consistent: rgb(217, 217, 217);
            --background-screen-default: rgb(18, 18, 18);
            --background-container-primary-default: rgb(18, 18, 18);
            --background-container-primary-teal: rgb(54, 161, 139);
            --background-container-primary-wheat: rgb(200, 157, 88);
            --background-container-primary-petrol: rgb(43, 105, 122);
            --background-container-primary-rhubarb: rgb(179, 93, 91);
            --background-container-primary-gray: rgb(150, 150, 150);
            --background-container-primary-hovered: rgb(30, 30, 30);
            --background-container-primary-pressed: rgb(45, 45, 45);
            --background-elevated-container-primary-default: rgb(30, 30, 30);
            --background-container-secondary-teal: rgb(34, 64, 58);
            --background-container-secondary-wheat: rgb(74, 61, 41);
            --background-container-secondary-petrol: rgb(24, 43, 49);
            --background-container-secondary-rhubarb: rgb(73, 50, 49);
            --background-container-secondary-gray: rgb(35, 35, 35);
            --background-container-tertiary-teal: rgb(34, 64, 58);
            --background-container-tertiary-teal-pressed: rgb(8, 72, 52);
            --background-container-tertiary-wheat: rgb(74, 61, 41);
            --background-container-tertiary-wheat-pressed: rgb(89, 59, 11);
            --background-container-tertiary-petrol: rgb(24, 43, 49);
            --background-container-tertiary-petrol-pressed: rgb(9, 61, 77);
            --background-container-tertiary-rhubarb: rgb(73, 50, 49);
            --background-container-tertiary-rhubarb-pressed: rgb(94, 12, 9);
            --background-container-tertiary-gray: rgb(45, 45, 45);
            --background-container-tertiary-gray-pressed: rgb(59, 59, 59);
            --background-error: rgb(242, 232, 232);
            --background-positive-amount: rgb(54, 161, 139);
            --background-navigation-bottom: rgb(35, 35, 35);
            --background-button-primary-teal-default: rgb(54, 161, 139);
            --background-button-primary-teal-pressed: rgb(130, 196, 178);
            --background-button-primary-teal-disabled: rgb(8, 72, 52);
            --background-button-primary-teal-hover-and-focused: rgb(54, 161, 139);
            --background-button-primary-wheat-default: rgb(166, 121, 49);
            --background-button-primary-wheat-pressed: rgb(214, 177, 125);
            --background-button-primary-wheat-disabled: rgb(89, 59, 11);
            --background-button-primary-wheat-hover-and-focused: rgb(166, 121, 49);
                                                                    --background-button-primary-petrol-default: rgb(43, 105, 122);
                                                                     --background-button-primary-petrol-pressed: rgb(121, 161, 173);
                                                                      --background-button-primary-petrol-disabled: rgb(9, 61, 77);
                                                                       --background-button-primary-petrol-hover-and-focused: rgb(43, 105, 122);
                                                                        --background-button-primary-rhubarb-default: rgb(179, 93, 91);
                                                                         --background-button-primary-rhubarb-pressed: rgb(222, 172, 171);
                                                                          --background-button-primary-rhubarb-disabled: rgb(111, 35, 33);
                                                                           --background-button-primary-rhubarb-hover-and-focused: rgb(179, 93, 91);
                                                                            --background-button-secondary-default: rgb(18, 18, 18);
                                                                             --background-button-secondary-pressed: rgb(30, 30, 30);
                                                                        --background-button-tertiary-teal-pressed: rgb(4, 57, 45);
                                                                        --background-button-tertiary-wheat-pressed: rgb(64, 42, 4);
                                                                         --background-button-tertiary-petrol-pressed: rgb(0, 42, 53);
                                                                          --background-button-tertiary-rhubarb-pressed: rgb(55, 2, 1);
                                                                           --background-button-tertiary-hover-and-focused: rgb(18, 18, 18);
                                                                            --overlay-default: rgb(242, 242, 242);
                                                                             --overlay-default-consistent: rgb(27, 27, 27);
                                                                              --shadow-default: rgba(0, 0, 0, 0.2);
                                                                               --iconography-primary-default: rgb(217, 217, 217);
                                                                                --iconography-primary-consistent: rgb(27, 27, 27);
                                                                                 --iconography-primary-default-inverted: rgb(27, 27, 27);
                                                                                  --iconography-primary-inverted-consistent: rgb(217, 217, 217);
                                                                                   --iconography-secondary-default: rgb(150, 150, 150);
                                                                                    --iconography-disabled: rgb(90, 90, 90);
                                                                                     --iconography-interactive-primary-teal-consistent: rgb(54, 161, 139);
                                                                         --iconography-interactive-primary-teal-disabled: rgb(8, 72, 52);
                                                                          --iconography-interactive-primary-petrol-default: rgb(121, 161, 173);
                                                                           --iconography-interactive-primary-petrol-consistent: rgb(43, 105, 122);
                                                                            --iconography-interactive-primary-petrol-disabled: rgb(9, 61, 77);
                                                                             --iconography-interactive-primary-rhubarb-default: rgb(203, 124, 122);
                                                                        --iconography-interactive-primary-rhubarb-consistent: rgb(179, 93, 91);
                                                                         --iconography-interactive-primary-rhubarb-disabled: rgb(94, 12, 9);
                                                                          --iconography-interactive-secondary-teal-default: rgb(204, 227, 218);
                                                                           --iconography-interactive-secondary-teal-consistent: rgb(31, 117, 96);
                                                                            --iconography-interactive-secondary-petrol-default: rgb(204, 220, 226);
                                                                             --iconography-interactive-secondary-petrol-consistent: rgb(32, 91, 107);
                                                                              --progress-background: rgb(20, 94, 74);
                                                                               --progress-foreground: rgb(54, 161, 139);
                                                                                --shimmer-loader-background: rgb(45, 45, 45);
                                                                                 --shimmer-loader-foreground: rgb(30, 30, 30);
                                                                                  --mild-overlay: rgba(0, 0, 0, 0.3);
                                                                                   --distinct-overlay: rgba(0, 0, 0, 0.4);
                                                                                    --primary-focus: rgba(54, 161, 139, 0.6);
                                                                                     --typography-default: rgb(255, 255, 255);
                                                                                      --typography-default-inverted: rgb(18, 18, 18);
                                                                                       --typography-default-consistent: rgb(18, 18, 18);
                                                                                        --typography-default-inverted-consistent: rgb(255, 255, 255);
                                                                                         --typography-interactive-rhubarb: rgb(203, 124, 122);
                                                                                          --typography-interactive-default: rgb(72, 172, 152);
                                                                                           --typography-interactive-teal: rgb(72, 172, 152);
                                                                                            --typography-light: rgb(191, 191, 191);
                                                                                             --typography-extra-light: rgb(140, 140, 140);
                                                                                              --typography-error: rgb(180, 75, 70);
                                                                                               --divider-teal: rgb(72, 172, 152);
                                                                                                --divider-error: rgb(180, 75, 70);
                                                                                                 --divider-dark: rgb(191, 191, 191);
                                                                                                  --background-default: rgb(32, 32, 32);
                                                                                                   --background-alternate: rgb(18, 18, 18);
                                                                                                    --background-screen: rgb(18, 18, 18);
                                                                                                     --background-button-primary-active: rgb(72, 172, 152);
                                                                                                      --background-button-primary-pressed: rgb(72, 172, 152);
                                                                                                       --background-button-primary-disabled: rgb(232, 242, 238);
                                                                                                        --background-button-secondary: rgb(255, 255, 255);
                                                                                                         --background-container-teal: rgb(72, 172, 152);
                                                                                                          --background-container-rhubarb: rgb(203, 124, 122);
                                                                                                           --background-container-wheat: rgb(200, 157, 88);
                                                                                                            --background-container-petrol: rgb(43, 105, 122);
                                                                                                             --background-container-light: rgb(59, 59, 59);
                                                                                                              --background-container-light-teal: rgb(34, 64, 58);
                                                                                                               --background-container-light-rhubarb: rgb(73, 50, 49);
                                                                                                                --background-container-light-wheat: rgb(74, 61, 41);
                                                                                                                 --background-container-light-petrol: rgb(24, 43, 49);
                                                                                                                  --background-container-dark-teal: rgb(42, 126, 109);
                                                                                                                   --background-container-dark-wheat: rgb(140, 108, 58);
                                                                                                                    --background-container-dark-petrol: rgb(9, 61, 77);
                                                                                                                     --background-container-dark-rhubarb: rgb(158, 89, 87);
                                                                                                                      --background-container-alpha-teal: rgb(72, 172, 152, 0.5);
                                                                                                                       --background-container-alpha-wheat: rgb(205, 163, 95, 0.5);
                                                                        --background-container-alpha-petrol: rgba(38, 102, 120, 0.5);
                                                                         --background-container-alpha-rhubarb: rgb(203, 124, 122, 0.5);
                                                    --background-light-error-red: rgb(248, 237, 237);
                                                     --background-info-card: rgb(45, 45, 45);
                                                      --iconography-default: rgb(255, 255, 255);
                                                       --iconography-default-inverted: rgb(18, 18, 18);
                                                        --iconography-light: rgb(191, 191, 191);
                                                         --iconography-bright: rgb(51, 51, 51);
                                                          --iconography-action: rgb(72, 172, 152);
                                                           --iconography-rhubarb: rgb(179, 93, 91);
                                                            --shimmer-background: rgb(45, 45, 45);
                                                             --shimmer-foreground: rgb(32, 32, 32);
                                                              --deprecated-gray: rgb(136, 136, 136); }
</style>