{% extends 'login/base.html' %}

{% block title %}New ToDo List Generator {% endblock %}
{% block content %} 
<h3 style="color: white;">Create List</h3>
<form method="post" action="create" class="form-group backdrop-blur">
    {% csrf_token %}
    <div class="input-group mb-3" style="padding-top: 6%">        
        {{form.as_p}}
        <div class="input-group-prepend">
            <button type="submit", name="save" class="glass-button" style="width:100%">Create New List</button>
        </div>
    </div>
</form>
{% endblock %}