{% extends "login/base.html" %}

{% block title %}View List{% endblock %}
{% block content%}
<form method="post" action="#" class="backdrop-blur form-group" style="height: 100%; padding-top: 1%">
    <h1 style="padding-bottom: 4%">{{ls.name}}</h1>
    {% csrf_token %}
    {% for items in ls.items_set.all%}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                {% if items.complete == True %}
              <input type="checkbox", value="clicked", name="c{{item.id}}" checked>{{items.text}}
                {% else %}
               <input type="checkbox", value="clicked", name="c{{item.id}}">{{items.text}}
                {% endif %}
            </div>
        </div>
        <input type="text", value="{{items.text}}" class="form-control">
    </div>      
    {% endfor %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit", name="save", value="save" class="glass-button">Save</button>
        </div>
        <input type="text", name="new">
    </div>
<button type="submit", name="newItem", value="newItem" class="glass-button justify-content-center">Add Item</button>

</form>

{% endblock %}