@charset "UTF-8";
/* CSS Structure */

html, body {
  color: rgb(65,78,87);
  height: 100%;
  margin: 0;
}
body {
  display: grid;
  flex-direction: column;
  background-color: #2C2C31;
}

.header {
  text-align: right;
	float:center;
  background-color: #313131;
	border: 0.5px solid #413E3E;
	padding: 20px; 
	width:100%;
  height: 50%;
	box-shadow:  1px 1px 1px #313131,
               2px 2px 50px black;
}
h1{

	text-align:center;
	width: auto;
	font-size: 50px;
	margin-top: 0px;
  margin-right: 20px;
	line-height: 2em;
	color: white;
	/*text-shadow: 2px 2px 2px #000,
               6px 6px 20px black;*/
}
h2{
  float: left;
  color: white;
  font-size: 35px;
  margin-left: 20%;
  text-align: justify-all;

}

p.typeA{
	text-align: center;
	float: center;
	line-height: 65px;
	color: white;
	padding-bottom: 20px;
}
p.typeB{
  line-height: 65px;
  font-size: 17px;
	text-align: left;
	float: left;
	color: white;	
	margin-left: 30px;	
}
.typeAB{
  line-height: 65px;
  font-size: 17px;
	margin-left: 30px;
	list-style-type: none;
	text-decoration: none;
	color: white;
	text-decoration: underline;
	font-weight: bold;
}
p.pluck{
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;}


.page-footer {
  bottom: 0;
  height: 78px;
  width: 100%;}

footer{
  background-color: #313131;
  position: fixed;
  /*font-size: 14px;*/
  float:left;
  color: white;
   font-size: 1em;
}
/* Window Manager */
form {
  float: center;
  margin: auto;
  margin-top: 11%;
  width: 617px;
  height: 195px;
  display: absolute;
  background-color: #413E3E;
  border-radius: 30px;
  box-shadow: 8px 4px 50px black;
} 

/* Full-width inputs */
input[type=text]{
  color: white;
  padding: 10px 250px;
  padding-left: 40px;
  margin: -1px 0;
  background-color: #242424;
  border-radius: 50px;
  border: 1px solid #707070;
  box-sizing: border-box;
}
input[type=password]{
  color: white;
  padding: 10px 250px;
  padding-left: 40px;
  margin: 20px 0;
  background-color: #242424;
  border-radius: 50px;
  border: 1px solid #707070;
  box-sizing: border-box;
}
/* Set a style for all buttons */
.position{
  float: left;
  margin-right: 0%;
  margin-top: 15%;
  margin-left: 0%;
  padding: 0%;
  padding-left: 2%;
  padding-right: 2%;
  }
#texture{
  text-decoration: none;
  list-style-type: none;
  float: left;
  margin-right: 0%;
  margin-left: 0%;
  padding: 0%;
  padding-left: 2%;
  padding-right: 2%;
}
.container{
  width: auto;
}
button {
 background-color: #242424;
 color: white;
 padding: 10px 50px;
 border-radius: 10px;
 margin: auto;
 margin-left: 20px 0;
 border: 1px solid #707070;
 cursor: pointer;
 width: auto;}

/* Add a hover effect for buttons */
button.register:hover {
 background-color: #D82361;
  opacity: 1;}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
}
ol, ul{
  margin: auto;
  margin-bottom: auto;
  float: left;
  padding-top: 10px;
}
/* Avatar image */
img{

}
img.avatar {
  float: left;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 185px;
    height: 115px;
    display: inline-block;
    /* border-radius: 50%; */
    /* box-shadow: 4px 4px 4px #000, 8px 4px 25px black;*/
}
.video_contain {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}
#backgroundV {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  opacity:70%;
}

/*CSS version 3.0, User Created Cascade Style Sheet version: 3.0.030220b1931, All rights reserverd © 2020 Ali Sadykov, Salesians Sarria. This code may be subject to modifications and improvements by only previously authorised people and/or institutions*/
