@charset "UTF-8";

/* CSS Structure */

html,
body {
    color: rgb(65, 78, 87);
    height: 100.1%;
}
body {
    display: grid;
    flex-direction: column;
    background-color: #2C2C31;
}

.header {
    text-align: right;
    float: center;
    background-color: #313131;
    border: 0.5px solid #413E3E;
    padding: 20px;
    width: 100%;
    height: 50%;
    box-shadow: 1px 1px 1px #313131, 2px 2px 50px black;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: center;
    width: 600px;
    height: 20px;
    font-size: 45px;
    margin-top: 0px;
    line-height: 1.2;
    color: white;
    text-shadow: 2px 2px 2px #000, 6px 6px 20px black;
}
h2{
 margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: center;
    width: 600px;
    padding-top: 100px;
    font-size: 25px;
    line-height: 1.2;
    color: white;
 
}
p{
	margin: 10px 0 10px;
}
p.typeA {
    text-align: center;
    float: center;
    line-height: 65px;
    color: white;
    padding-bottom: 20px;
}

p.typeB {

	margin-left: 2%;
	margin-right: 2%;
    font-size: 15px;
    text-align: left;
    float: left;
    color: white;
}
a:hover{
	color: rgba(203,142,60,100%);
}
.typeAB {;
	margin-top: 2%;
    font-size: 15px;
    padding: auto;
    list-style-type: none;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.page-footer {
    bottom: -1px;
    height: 50px;
    width: 100%;
}

footer {
    background-color: #313131;
    position: fixed;
    /*font-size: 14px;*/
    float: left;
    color: white;
}
/* Window Manager */

form {
    float: center;
    margin: auto;
    margin-top: 10%;
    width: 800px;
    height: 600px;
    display: grid;
    background-color: #413E3E;
    border-radius: 55px;
    box-shadow: 8px 4px 50px black;
    
 }
 /* slightly transparent fallback */
form .backdrop-blur {
  background-color: rgba(20, 18, 18, .4);

}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(9px)) or (backdrop-filter: blur(4px))) {
  .backdrop-blur {
    background-color: rgba(20, 18, 18, .4);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px) contrast(80%);
    
  }
}

/* Full-width inputs */

input[type=text] {
    color: white;
    width: 440px;
    padding-right: 30px;
    padding: 10px 30px;
    padding-left: 40px;
    margin: -1px 0;
    background-color: #242424;
    border-radius: 50px;
    border: 1px solid #707070;
    box-sizing: border-box;
}

input[type=password] {
    color: white;
    width: 440px;
    padding: 10px 30px;
    padding-left: 40px;
    margin: 20px 0;
    background-color: #242424;
    border-radius: 50px;
    border: 1px solid #707070;
    box-sizing: border-box;
}


/* Set a style for all buttons */

.position {
    float: center;
    margin-right: 0%;
    margin-top: 5%;
    margin-left: 20%;
    padding: 0%;
    padding-left: 2%;
    padding-right: 2%;
}

#texture {
    text-decoration: none;
    list-style-type: none;
    float: left;
    margin-right: 0%;
    margin-left: 0%;
    padding: 0%;
    padding-left: 2%;
    padding-right: 2%;
}

.container {
    width: auto;
}

button {
    background-color: #242424;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    margin: auto;
    margin-left: 20px 0;
    border: 1px solid #707070;
    cursor: pointer;
    width: auto;
}
button.bg_video_ctl{
    border-radius: 30px;
    height: 30px;
    width: 100px;
    text-align: center;
    position: fixed;
    cursor: pointer;
    top: 95%;
    left: 57%;
    right: 0;
    bottom: 0;
    background-color: rgba(53,62,68, 100%);
    -webkit-transition: .10s;
    transition: .8s;
    margin-right: auto;
    padding: 0px 0px;
}

button.bg_video_ctl:hover{
	background-color: rgba(141,4,4, 100%);
}

/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
}

ol,
ul {
    margin: auto;
    margin-bottom: auto;
    float: left;
    padding-top: 10px;
}


/* Avatar image */

img {}

img.avatar {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 170px;
    height: 105px;
    display: inline-block;
    /* border-radius: 50%; */
    /* box-shadow: 4px 4px 4px #000, 8px 4px 25px black;*/
}

.vmd_container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

#bg_video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 100%;
 /*   -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);*/
}

/*CSS version 3.0, User Created Cascade Style Sheet version: 3.0.030220b1931, All rights reserverd © 2020 Ali Sadykov, Salesians Sarria. This code may be subject to modifications and improvements by only previously authorised people and/or institutions*/