@charset "UTF-8";
/* CSS Structure */

@font-face {
  font-family: 'PingFangTC';
  src: url("./assets/fonts/PingFang-TC/PingFangTC.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFangSC';
  src: url("./assets/fonts/PingFang-SC/PingFangSC.ttf") format('truetype');
  // src: url('./assets/fonts/PingFang-SC-Regular/PingFangSC.eot?#iefix') format('embedded-opentype'),
  //      url('./assets/fonts/PingFang-SC-Regular/PingFangSC.ttf') format('truetype'),
  //      url('./assets/fonts/PingFang-SC-Regular/PingFangSC.woff') format('woff'),
  //      url('./assets/fonts/PingFang-SC-Regular/PingFangSC.woff2') format('woff2'),
  //      url('./assets/fonts/PingFang-SC-Regular/PingFangSC.svg#PingFang') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Arial","PingFangTC","PingFangSC";
}
/*CSS version 3.0, User Created Cascade Style Sheet version: 3.0.030220b1931, All rights reserverd © 2020 Ali Sadykov, Salesians Sarria. This code may be subject to modifications and improvements by only previously authorised people and/or institutions*/
